html{
    /* font-size: 62.5%; */
    max-width:1440px ;
    min-width: 320px;
    font-family: 'Comfortaa', cursive;

}

body{
    background-color: #B1D0FF;

}

/* header */

.header {
    background-color: #fff;
}

.header .header-container {
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    min-height: 75px;
    min-width: 320px;
}

.header h1 {
display: none;
}

.header .header-container ul li a{
    font-weight: bold;
}

/* STUDY */

.study{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto; /*AJUSTAR DEPOIS*/
    /* background: url(../images/bg.jpg) center center; */
    padding: 0 30px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd;
    color: #939DA3;
    border: 2px solid #939DA3;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s;
}

button i {
    font-weight: bold;
    pointer-events: none;
}

input,
select{
    padding: 0.25rem 0.5rem;
}

.hide{
    display: none;
}

/* TODO HEADER */

.todo-container{
    min-width: 320px;
    max-width: 800px;
    width: 800px;
    height: auto;
    margin: 3rem auto 0;
     background-color: #fdfdfd;
     padding: 1.5rem;
     border-radius: 15px;
     filter: drop-shadow(0px 0px 5px #000);

}

.todo-container h1{
    /* font-family: 'Tilt Warp', cursive; */
    /* font-weight: bold; */
    font-size: 2rem;
}

.todo-container header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #CCC;
}

/* TODO FORM */

#todo-form,
#edit-form{
    padding: 1rem;
    border-bottom:  1px solid #CCC;
}
#todo-form p,
#edit-form p{
    margin-bottom:.5rem ;
    font-weight: bold;
}


.form-control{
    display: flex;
}

.form-control input{
    margin-right: 0.3rem;
    flex: 1;
}

.submit:hover{
    transition: 0.5s;
    color: #0840CF;
    border-color: #0840CF ;
}

#cancel-edit-btn{
    margin-top: 1rem;
    color:#444;
}
#cancel-edit-btn:hover{
    transition: 0.5s;
    border-color: #000;
    color: #000;
}

/* TODO TOOLBAR */
#toolbar{
    padding: 1rem;
    border-bottom:  1px solid #ccc;
    display: flex;
}

#toolbar h4{
    margin-bottom: .5rem;
}

#search{
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form{
    display: flex;
}

#search input{
    width: 100%;
    margin-right: 0.3rem;
}

#erase-button{
    transition: 0.5s;
}

#erase-button:hover{
    color: #000;
    border-color: #000;
}

#filter{
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select{
    flex: 1;
}

/*TODO LIST*/
.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
    color: #fff;
    background-color: #0840CF;
}
.todo:hover{
    transform: scale(103%);
    color: #000;
}

.todo h3{
    flex: 1;
    font-size: 0.9rem;
}

.todo button{
    margin-left: 0.4rem;
    /* background-color: red; */

}
.todo button i{
    color: red;
}

.done{
    background-color: #A6A698;
    opacity: 0.7;
}

.done:hover{
    background-color: #A6A698;
    opacity: 1;
    transform: none;
}

.done h3{
    color: #000;
    text-decoration: line-through;
    font-style: italic;
}

/*ICON LIST*/


 .done:hover > .finish-todo:hover,
.todo:hover > .finish-todo:hover{
    background-color: #4BB814;
    color: #256C02;
    border: 2px solid #256C02;
    transition: 0.5s ease;
    transform: rotate(360deg);
    border-radius: 10px;
}

.done:hover > .edit-todo:hover,
.todo:hover > .edit-todo:hover{
    background-color: orange;
    color: #B84514;
    border-color: #B84514;
    transition: 0.5s ease;
    transform: rotate(-360deg);
    border-radius: 10px;
}
.done:hover > .remove-todo:hover,
.todo:hover > .remove-todo:hover{
    background-color: #FF0013;
    color: #85000D;
    border-color: #85000D;
    transition: 0.5s ease;
    transform: rotate(360deg);
    border-radius: 10px;
}

/* ABOUT */

/* ABOUT-TODO-LIS */

.todo-list{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
}

.teste{
    height: 500px;
    width: 500px;
    /* background-color: blue; */
}
